
.Invitation-Container{
    display: flex;
    justify-content:space-around;
    background-image: url('../../Assets/Images/invi-bg.jpg');
    width: 100vw;
    background-size: contain;
}

.InvitationCard-Container{
    text-align: center;
}

.InvitationCard-Image{
    height: 95vh;
    width: 33vw;
}


@media only screen and (max-width: 960px) and (min-width: 600px) {
    .InvitationCard-Image{
        height: 85vh;
        width: 45vw;
    }
}

@media only screen and (max-width: 600px) {
    .InvitationCard-Image{
        height: 95vh;
        width: 95vw;
    }
}