.Header-main-Container{
position: absolute;
width: 100%;
overflow: hidden;
}

.Header-Container{
    display: flex;
    justify-content: space-between;
    margin:0 200px;
    font-size: 20px;
}

.Header-Tabs{
    display:flex;
    justify-content: space-around;
}

.Header-logo{
    width: 13vw;
}

.Header-Buttons{
    padding: 20px 40px;
    cursor: pointer;
}

.Header-navigation-phone{
    display: none;
    padding: 10px;
}

.Header-navigation-icon{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

@media only screen and (max-width: 960px) and (min-width: 600px) {
    .Header-Container{
        margin:0 80px;
        font-size: 16px;
    }
    .Header-Buttons{
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 600px) {
    .Header-Tabs{
        display: none;
    }

    .Header-Container{
        margin:0 10px;
        font-size: 14px;
    }
    .Header-Buttons{
        padding: 10px 20px;
    }
    .Header-navigation-phone{
        display: block;
    }
    @keyframes enter {
        from {right: -300px;}
        to {right: -20px;}
    }
    @keyframes exit {
        from {right: -20px;}
        to {right: -300px;}
    }
    .Header-Tabs-phone{
        background-color: black;
        opacity: 0.7;
        color: white;
        position: relative;
        right: -20px;
        animation: enter 1s 1;
    }
    .Header-Tabs-phone-exit{
        background-color: black;
        opacity: 0.7;
        color: white;
        position: relative;
        right: -300px;
        animation: exit 1s 1;
    }
  }