.Gallery-container{
}

.image-container{
display: flex;
flex-wrap: wrap; /* iss line k karan ek line me 3 piks aare hai */
justify-content: space-around;
/* overflow: hidden;  isse jo scroll hota hai vo nahi hoga */  
}

.image-holder{
width:500px;
height: 500px;
padding: 35px 0; 
/* border-radius: 45px; */
/* margin: auto;  iske jagah upar wale div ko justify-content de diya */
}

.image-holder:hover{
   filter: brightness(50%);
}

.modal-image-holder{
  height: 90vh;
}

.modal-close-button{
   position: absolute;
   top: 10px;
   right: 10px;
   color: white;
   cursor: pointer;
   font-size: 35px;
   font-weight: 200;
}
@media only screen and (max-width: 960px) and (min-width: 600px) {

}

@media only screen and (max-width: 600px) {
   .image-holder{
      width: 80vw;
      height: 75vw;
   }
   .modal-image-holder{
      width: 80vw;
      height: auto;
   }
 }
